
body{
	font-family: sans-serif;
	background-image: url("https://wallpapercave.com/wp/wp2015640.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 30px;
	color: black;
	background-attachment: fixed;
	padding-top: 40px;
		padding-bottom: 40px;
		margin-right: 10px;



}